 html,
 body,
 .container-table {
     height: 98%;
 }
 
 @import url('https://fonts.googleapis.com/css?family=Roboto');
 @font-face {
     font-family: 'Roboto';
 }
 
 h1 {
     font-family: 'Helvetica';
     font-size: 30px;
     font-weight: 800;
     letter-spacing: 0.5em;
     text-align: center;
 }
 
 p {
     font-family: 'Roboto';
     text-align: center;
     margin-top: 20px;
 }
 
 .fa-enlarge-hover:hover {
     font-size: 6em;
 }
 
 .container-table {
     display: table;
 }
 
 .vertical-center-row {
     display: table-cell;
     vertical-align: middle;
 }
 
 #main {
     height: 0;
     width: 0;
     opacity: 0;
 }
 
 .footer {
     background-color: #58d68d;
 }
